<nav class="bg-dark py-2 text-white">
  <div class="container d-flex justify-content-between">
    <span class="h3 font-weight-bold">Google Scraper</span>
    <div class="d-flex align-items-center position-relative cursor-pointer">
      <div
        class="bg-primary rounded-circle d-flex align-items-center justify-content-center"
        style="height: 32px; width: 32px"
        (click)="toggleCollapse()"
        [attr.aria-expanded]="!isCollapsed"
      >
        <span class="text-white">{{ initial }}</span>
      </div>
      <div
        #collapse="ngbCollapse"
        class="collapse position-absolute"
        [ngbCollapse]="isCollapsed"
        style="top: 100%; right: 0; transform: translateX(-50%)"
      >
        <div class="bg-white rounded shadow-lg py-1" style="position: absolute; right: 0; width: 160px">
          <a href="#" class="d-block px-3 py-2 text-dark hover:bg-primary hover:text-white" (click)="logout()"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
